.App {
  text-align: center;
  background-color: #282c34;
  background-image: url("images/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: auto
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigationLink {
  font-family: 'Roboto Slab', serif !important;
  color: white !important;
  font-size: small !important;
  display: inline;
}

p {
  font-size: 5vh;
}

.btn {
  font-size: 5vh !important
}